.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    min-height: 80px;
    margin-left: 5px;
    scroll-behavior: smooth;
}
.btn-timeline{
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 1;
    border: 2px solid #002868;
    border-radius: 3px;
    color: #002868;
    padding-top: 17px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 10px;
    margin-right: 5px;
    min-width: 100px;
    min-height: 50px;
    transition: min-width 0.35s, min-height 0.35s ease-in-out;
}
.btn-timeline-focus{
    cursor: pointer;
    color: white;
    background-color: #002868;
    box-shadow: 0px 0px 60px -15px #002868;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    padding-top: 22px;
    min-width: 110px;
    min-height: 60px;
}
.div-disabled{
    opacity: 0.3;
    pointer-events: none;
}
.div-conteudo{
    border-radius: 10px;
    border: 1px solid #002868;
    box-shadow: 0px 0px 50px -15px #002868;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #002868;
    border-radius: 10px;
}
@media (min-width: 576px){
    .scrolling-wrapper {
        min-height: 150px;
        margin-left: 5px;
    }
    .btn-timeline{
        font-size: 1rem;
        padding: 5px;
        padding-top: 30px;
        margin-top: 30px;
        min-width: 200px;
        min-height: 80px;
    }
    .btn-timeline-focus{
        padding: 5px;
        padding-top: 40px;
        min-width: 210px;
        min-height: 95px;
    }
}
