html,
body {
  	height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(#e5fcfe 0%, #55ebf8 40%);
}

.mensagem-usuario{
	position: fixed;
	width: 100%;
	top: 30px;
}

.logo-login{
	width: 200px;
}

.alert-login{
  width: 50%;
  margin: auto;
}

.form{
	width: 100%;
	display: block;
	float: left;
	clear: both;
	position: relative;
}

.form-registra-cancela{
	display: block;
	float: left;
	position: relative;
}

.form-signin {
	box-shadow: 0 0 1em #002868;
	background-color: white;
  	width: 100%;
  	max-width: 450px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
  	margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.label-login{
    color: #002868;
    font-weight: bold;
}

.marca-texto{
    color: #002868;
    font-weight: bold;
    font-size: 0.8em;
}

.btn-entrar{
	font-weight: 700;
	color: white;
	background-color: #002868;
	border-color: #002868;
	padding: 10px 20px;
	width: 100%;
}

.btn-entrar:hover{
    transition: 2s;
	color: #002868;
	background-color: #83eff8;
	border-color: #83eff8;
    box-shadow: 0px 0px 20px 0px #002868;
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.message a {
  font-weight: 300;
  color: #fed136;
  text-decoration: none;
}

.text-error{
	color: red;
	display: none;
	font-size: 12px;
}

input[type="text"], input[type="password"]{
    color: rgba(0, 40, 104, 1);
    border-color: rgba(0, 40, 104, 1);
}

input[type="text"]:focus, input[type="password"]:focus{
	border-color: rgba(0, 40, 104, 1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 40, 104, 1);
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 13px);
}

@media (min-width: 576px){

    .logo-login{
    	width: 250px;
    }

}

@media (min-width: 768px){
    .form-signin {
    	border-radius: 5px;
    }
}

@media (min-width: 992px){}

@media (min-width: 1200px){

    .logo-login{
    	width: 250px;
    }

}
